@model JamesAPokemonWAD.Models.AddPokemon

@{
    ViewData["Title"] = "Add Pokemon";
    
    var areas = ViewData["Areas"] as List<JamesAPokemonWAD.Models.Area>;
}
<form asp-controller="Admin" asp-action="AddPokemon" enctype="multipart/form-data">
    <div class="container container--register">
        <h1 class="txt-title">Add Pokemon</h1>
        <table class="inputForm">
            <tr>
                <td colspan="2" class="tdValidation"> @Html.ValidationMessage("Custom") </td>
            </tr>
            <tr>
                <td> <label class="required" asp-for="PokemonName">Pokémon Name</label></td>
                <td><input type="text" asp-for="PokemonName" /></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><span asp-validation-for="PokemonName" class="txt-error"></span></td>
            </tr>
            <tr>
                <td><label class="required" asp-for="PokedexNum">Pokédex Number</label></td>
                <td><input type="number" min="1" max="5000" asp-for="PokedexNum" /></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><span asp-validation-for="PokedexNum" class="txt-error"></span></td>
            </tr>
            <tr>
                <td><label class="required" asp-for="Classification">Classification</label></td>
                <td><input type="text" asp-for="Classification" /></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><span asp-validation-for="Classification" class="txt-error"></span></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><label class="required" asp-for="Description">Pokédex Entry Text</label></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><span asp-validation-for="Description" class="txt-error"></span></td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <textarea asp-for="Description"></textarea>
                </td>
            </tr>
            <tr>
                <td class="tdValidation"><label class="required" asp-for="Type_1">Type 1</label></td>
                <td class="tdValidation"><label asp-for="Type_2">Type 2</label></td>
            </tr>
            <tr>
                <td class="tdValidation">
                    <select asp-for="Type_1">
                        @foreach (var type in (List<string>)ViewData["Types"])
                        {
                            <option value="@type">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(type)</option>
                        }
                    </select>
                </td>
                <td class="tdValidation">
                    <select asp-for="Type_2">
                        <option value="@null">None</option>
                        @foreach (var type in (List<string>)ViewData["Types"])
                        {
                            <option value="@type">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(type)</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label class="required" asp-for="Height">Height (m)</label> </td>
                <td>
                    <input type="number" min="0.1" step="0.1" value="0.1" asp-for="Height" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="Height" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td> <label class="required" asp-for="Weight">Weight (Kg)</label> </td>
                <td>
                    <input type="number" min="0.1" step="0.1" value="0.1" asp-for="Weight" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="Weight" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td> <label class="required" asp-for="Generation">Generation Number</label></td>
                <td>
                    <input type="number" max="100" min="1" value="1" asp-for="Generation" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="Generation" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="UploadImage" class="required"> Pokémon Image</label> </td>
                <td>
                    <input asp-for="UploadImage" id="standardFile">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="UploadImage" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="UploadShinyImage" class="required">Shiny Pokémon Image</label> </td>
                <td>
                    <input asp-for="UploadShinyImage" id="shinyFile">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="UploadShinyImage" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <label asp-for="Rarity">Rarity</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <select asp-for="Rarity">
                        <option value="Common">Common</option>
                        <option value="Uncommon">Uncommon</option>
                        <option value="Rare">Rare</option>
                        <option value="Legendary">Legendary</option>
                    </select>
                </td>
            </tr>
        </table>
        <div>
            <label asp-for="SelectedAreas">Areas: <br /></label>
            @Html.ListBoxFor(m => m.AreaIds, new MultiSelectList(areas, "AreaId", "Name"), new { @class = "multi-list", multiple = "multiple" })
            <span asp-validation-for="SelectedAreas" class="txt-error"></span>
        </div>
    </div>
    <div class="split split--pages">
        <a href="javascript:void(0)" id="historyBackBtn"
           class="btn">
            Back
        </a>
        <input type="submit" class="btn btn--update" value="Add Pokémon" />
    </div>
</form>