@{
    ViewData["Title"] = "Admin Pokemon";

    List<string> typeList = (List<string>)ViewData["Types"];
}
<partial name="_Modal" />
<div class="container container--dexhead">
    <div class="wrapperDexHead">
        <h1 class="txt-title">@ViewData["Title"]</h1>
        <form asp-action="Pokemon" method="get">
            <partial name="_SearchFilter" />
        </form>
    </div>
</div>
<div class="flex container">
    @foreach (var entry in Model)
    {
        <div>
            <a asp-controller="PokePC" asp-action="PokedexEntry" asp-route-id="@entry.PokemonId"><img class="pokemonImg pokemonImg--@entry.Type_1 pokemonImg--offset--@(entry.Type_2 == null || entry.Type_2 == "" ? entry.Type_1 : entry.Type_2) " src="@(entry.Image.Contains("upload") ? "/images/pokemon/" : "")@entry.Image" alt="A picture of the Pokémon @entry.PokemonName"></a>
            <p class="txt-pokename">@entry.PokemonName</p>
            <div class="split">
                <h3 class="txt-admin txt-admin--update"><a asp-controller="Admin" asp-action="UpdatePokemon" asp-route-id="@entry.PokemonId">Update</a></h3>
                <h3 class="txt-admin txt-admin--delete"><a href="javascript:;" class="deletePoke" data-id="@entry.PokemonId">Delete</a></h3>

            </div>
        </div>
    }
</div>
<partial name="_SearchPagination" />
