@{
    ViewData["Title"] = "Admin Pokemon";

    List<string> typeList = (List<string>)ViewData["Types"];
}
<div class="center">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div id="myModalContent"></div>
            <div id="modelClose">
                <span id="closeBtn" class="btn">Close</span>
            </div>
        </div>
    </div>
</div>
<div class="container container--dexhead">
    <div class="wrapperDexHead">
        <h1 class="txt-title">@ViewData["Title"]</h1>
        <form asp-action="Pokemon" method="get">
            <div class="form-actions no-color">
                <label class="txt-pokename" for="SearchString">Filter by name: </label>
                <input type="text" name="SearchString" id="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <div class="split split--filter">
                <select name="typeFilter" onchange="this.form.submit()">
                    <option value="@null" selected="selected">None</option>
                    @foreach (string type in typeList)
                    {
                        if (type == (string)ViewData["CurrentType"])
                        {
                            <option value="@type" selected="selected">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(type)</option>
                        }
                        else
                        {
                            <option value="@type">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(type)</option>
                        }
                    }
                </select>
            </div>
        </form>
        <div class="split split--filter">
            <a class="btn btn--small" asp-action="Pokemon" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">Sort Alphabetically @((string)ViewData["NameSortParm"] == "name_asc" ? "🠕🠗" : "🠗🠕") </a>
            <a class="btn btn--small" asp-action="Pokemon" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentType="@ViewData["CurrentType"]">Sort by Date Added @((string)ViewData["DateSortParm"] == "date_desc" ? "🠕🠗" : "🠗🠕") </a>
        </div>
        <a class="btn btn--xsmall" asp-action="Pokemon">Reset Filter</a>
    </div>
</div>
<div class="flex container">
    @foreach (var entry in Model)
    {
        <div>
            <a asp-controller="PokePC" asp-action="PokedexEntry" asp-route-id="@entry.PokemonId"><img class="pokemonImg pokemonImg--@entry.Type_1 pokemonImg--offset--@(entry.Type_2 == null || entry.Type_2 == "" ? entry.Type_1 : entry.Type_2) " src="@(entry.Image.Contains("upload") ? "/images/pokemon/" : "")@entry.Image" alt="A picture of the Pokémon @entry.PokemonName"></a>
            <p class="txt-pokename">@entry.PokemonName</p>
            <div class="split">
                <h3 class="txt-admin txt-admin--update"><a asp-controller="Admin" asp-action="UpdatePokemon" asp-route-id="@entry.PokemonId">Update</a></h3>
                <h3 class="txt-admin txt-admin--delete"><a href="javascript:;" class="deletePoke" data-id="@entry.PokemonId">Delete</a></h3>

            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="split">
    <p class="txt-pokename">@ViewData["Results"] results</p>
    @if (ViewData["CurrentPage"] == null)
    {
        <p class="txt-pokename">
            Page 1 - @ViewData["Pages"]
        </p>
    }
    else
    {
        <p class="txt-pokename">
            Page @ViewData["CurrentPage"] - @ViewData["Pages"]
        </p>
    }
</div>

<div class="split split--pages">
    <div>
        <a asp-action="Pokemon"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-currentType="@ViewData["CurrentType"]"
           class="btn btn-@prevDisabled">
            Previous
        </a>
    </div>



    <div>
        <a asp-action="Pokemon"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-currentType="@ViewData["CurrentType"]"
           class="btn btn-@nextDisabled">
            Next
        </a>
    </div>
</div>
