@model JamesAPokemonWAD.Models.UpdatePokemon

@{
    List<string> selectedareas = new List<string>();
}
<form asp-controller="Admin" asp-action="UpdatePokemon" enctype="multipart/form-data">
    <div class="container container--register">
        <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
        @if (Model.ImageUrl.Contains("upload"))
        {
            <img class="pokemonImg  pokemonImg--@Model.Type_1 pokemonImg--offset--@(Model.Type_2 == null || Model.Type_2 == "" ? Model.Type_1 : Model.Type_2)" src="~/images/pokemon/@Model.ImageUrl" alt="A picture of the Pokémon @Model.PokemonName">
        }
        else
        {
            <img class="pokemonImg pokemonImg--@Model.Type_1 pokemonImg--offset--@(Model.Type_2 == null || Model.Type_2 == "" ? Model.Type_1 : Model.Type_2)" src="@Model.ImageUrl" alt="A picture of the Pokémon @Model.PokemonName">
        }
        <h1 class="txt-title">Update @Model.PokemonName</h1>

        <input type="hidden" name="PokemonId" value="@Model.PokemonId" />

        <div>
            <label class="required" asp-for="PokemonName">Pokémon Name</label>
            <input type="text" asp-for="PokemonName" />
            <span asp-validation-for="PokemonName" class="txt-error"></span>
        </div>
        @Html.ValidationMessage("Custom")
        <div>
            <label class="required" asp-for="PokedexNum">Pokédex Number</label>
            <input type="number" min="1" max="5000" asp-for="PokedexNum" />
            <span asp-validation-for="PokedexNum" class="txt-error"></span>
        </div>
        <div>
            <label class="required" asp-for="Classification">Classification</label>
            <input type="text" asp-for="Classification" />
            <span asp-validation-for="Classification" class="txt-error"></span>
        </div>
        <div>
            <label class="required" asp-for="Description">Pokédex Entry Text <br /></label>
            <span asp-validation-for="Description" class="txt-error"></span>
        </div>
        <div>
            <textarea asp-for="Description"></textarea>
        </div>
        <div>
            <label class="required" asp-for="Type_1">Type 1</label>
            <select asp-for="Type_1">
                @foreach (var type in (List<string>)ViewData["Types"])
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="Type_2">Type 2</label>
            <select asp-for="Type_2">
                <option value="@null">-none-</option>
                @foreach (var type in (List<string>)ViewData["Types"])
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>

        <div>
            <label class="required" asp-for="Height">Height (m)</label>
            <input type="number" min="0" step="0.1" asp-for="Height" />
            <span asp-validation-for="Height" class="txt-error"></span>
        </div>

        <div>
            <label class="required" asp-for="Weight">Weight (Kg)</label>
            <input type="number" min="0" step="0.1" asp-for="Weight" />
            <span asp-validation-for="Weight" class="txt-error"></span>
        </div>
        <div>
            <label class="required" asp-for="Generation">Generation Number</label>
            <input type="number" max="8" min="1" asp-for="Generation" />
            <span asp-validation-for="Generation" class="txt-error"></span>
        </div>
        <label asp-for="UploadImage" class="required"> Upload Standard Image</label>
        <div class="custom-file">
            <input asp-for="UploadImage" id="standardFile">
            <label for="standardFile">Choose file</label>
        </div>
        <span asp-validation-for="UploadImage" class="txt-error"></span>


        <label asp-for="UploadShinyImage" class="required">Upload Shiny Image</label>
        <div>
            <input asp-for="UploadShinyImage" id="shinyFile">
            <label for="shinyFile">Choose file</label>
        </div>
        <span asp-validation-for="UploadShinyImage" class="txt-error"></span>
        <div>
            <label asp-for="Rarity">Rarity</label>
            <select asp-for="Rarity">
                <option value="Common">Common</option>
                <option value="Uncommon">Uncommon</option>
                <option value="Rare">Rare</option>
                <option value="Legendary">Legendary</option>
            </select>
        </div>
        <div>
            <label asp-for="SelectedAreas">Areas: <br /></label>
            @Html.ListBoxFor(m => m.AreaIds, new MultiSelectList(Model.SelectedAreas, "AreaId", "Name"), new { @class = "multi-list", multiple = "multiple" })
            <span asp-validation-for="SelectedAreas" class="txt-error"></span>

        </div>

    </div>
    <div class="split split--pages">
        <a href="javascript:void(0)" id="historyBackBtn"
           class="btn">
            Back
        </a>
        <input type="submit" class="btn--update btn" value="Update Pokémon" />
    </div>
</form>