@model JamesAPokemonWAD.Models.AreaForm

@{
    ViewData["Title"] = "Update Area";
    List<string> selectedareas = new List<string>();
}
<form asp-controller="Admin" asp-action="UpdateArea" enctype="multipart/form-data">
    <div class="container container--register">
        <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
        @if (Model.ImageUrl.Contains("uploaded"))
        {
            <img class="areaImg" src=~/images/areas/@Model.ImageUrl alt="A picture of @Model.AreaName">
        }
        else
        {
            <img class="areaImg" src="@Model.ImageUrl" alt="A picture of @Model.AreaName">
        }
        <h1 class="txt-title">Update @Model.AreaName</h1>

        <input type="hidden" name="AreaId" value="@Model.AreaId" />


        <table class="inputForm">
            <tr>
                <td colspan="2" class="tdValidation"> @Html.ValidationMessage("Custom") </td>
            </tr>
            <tr>
                <td>
                    <label class="required" asp-for="AreaName">Area Name</label>
                </td>
                <td>
                    <input type="text" asp-for="AreaName" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation"><span asp-validation-for="AreaName" class="txt-error"></span></td>
            </tr>
            <tr>
                <td>
                    <label class="required" asp-for="ExpPerCatch">Experience Per Catch</label>
                </td>
                <td>
                    <input type="number" min="1" max="5000" asp-for="ExpPerCatch" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="ExpPerCatch" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required" asp-for="LevelRequirement">Level Requirement</label>
                </td>
                <td>
                    <input type="number" min="1" max="10000" asp-for="LevelRequirement" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="LevelRequirement" class="txt-error"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="UploadImage" class="required"> Upload Area Image</label>
                </td>
                <td>
                    <input asp-for="UploadImage" id="areaFile">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdValidation">
                    <span asp-validation-for="UploadImage" class="txt-error"></span>
                </td>
            </tr>
        </table>


        <div>
            <label asp-for="AllPoke">Wild Pokémon: <br /></label>
            @Html.ListBoxFor(m => m.PokemonIds, new MultiSelectList(Model.AllPoke, "PokemonId", "PokemonName"), new { @class = "multi-list", multiple = "multiple" })
        </div>
        <span asp-validation-for="PokemonIds" class="txt-error"></span>
    </div>
    <div class="split split--pages">
        <a href="javascript:void(0)" id="historyBackBtn"
           class="btn">
            Back
        </a>
        <input type="submit" class="btn--update btn" value="Update Area" />
    </div>
</form>