@{
    ViewData["Title"] = ViewData["AreaName"];
    bool IsShiny = (bool)ViewData["IsShiny"];
    bool tempCaught = false;
    if (TempData["Caught"] != null)
    {
        tempCaught = (bool)TempData["Caught"];
    }
}
<div class="container container--register">

    <h1 class="txt-title">@ViewData["AreaName"]</h1>

    @if (Model != null)
    {
        <img class="pokemonImg  pokemonImg--@Model.Pokemon.Type_1 pokemonImg--offset--@(Model.Pokemon.Type_2 == null || Model.Pokemon.Type_2 == "" ? Model.Pokemon.Type_1 : Model.Pokemon.Type_2) " src="@(IsShiny ? (Model.Pokemon.ShinyImage.Contains("upload") ? "/images/pokemon/" + Model.Pokemon.ShinyImage : Model.Pokemon.ShinyImage) : (Model.Pokemon.Image.Contains("upload") ? "/images/pokemon/" + Model.Pokemon.Image : Model.Pokemon.Image))" alt="A picture of the Pokémon @Model.Pokemon.PokemonName">
        
        <div class="split split--caught">
            @if (tempCaught == true)
            {
            <img class="pokeballImg" src="~/images/pokeball.png" alt="Picture of a Pokéball to show that the Pokémon is captured" />
            }
            <p class="txt-pokename">
                A wild @if (IsShiny)
                {@: Shiny
                } @Model.Pokemon.PokemonName appeared!
            </p>
        </div>
        
        <div class="splitcol">
            <a class="btn btn--small btn--catch" id="caughtPoke" href="javascript:;" data-id="@Model.PokemonId" data-isshiny="@IsShiny">Catch!</a>
            <a class="btn btn--small" asp-controller="PokePC" asp-action="Area" asp-route-id=@Model.AreaId>Find more!</a>
        </div>

    }
    else
    {
        <p class="txt-pokename">No wild Pokémon appeared!</p>
        <a class="btn btn--small" asp-controller="PokePC" asp-action="Area" asp-route-id=@ViewData["AreaId"]>Keep searching for Pokémon!</a>
    }
</div>
<div class="split">
    <a href="javascript:void(0)" id="historyBackBtn"
       class="btn">
        Back
    </a>
</div>
<div class="center">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div id="myModalContent"></div>
            <div id="modelClose">
                <span id="closeBtn" class="btn">Close</span>
            </div>
        </div>
    </div>
</div>

