
@{
    ViewData["Title"] = "Pokédex";
}
<div class="container container--dexhead">
    <div class="wrapperDexHead">
        <h1 class="txt-title">@ViewData["Title"]</h1>
        <p class="txt-pokename">Click on a Pokémon below to see more details!</p>
        <form asp-action="Pokedex" method="get">
            <partial name="_SearchFilter" />
        </form>
    </div>
</div>
<div class="flex container container--dex">
    @foreach (var entry in Model)
    {
        <div>
            <a asp-controller="PokePC" asp-action="PokedexEntry" asp-route-id="@entry.PokemonId"><img class="pokemonImg pokemonImg--@entry.Type_1 pokemonImg--offset--@(entry.Type_2 == null || entry.Type_2 == "" ? entry.Type_1 : entry.Type_2)" src="@(entry.Image.Contains("upload") ? "/images/pokemon/" : "")@entry.Image" ) alt="A picture of the Pokémon @entry.PokemonName"></a>
            <p class="txt-pokename">@entry.PokemonName</p>
        </div>

    }
</div>
<partial name="_SearchPagination" />


