@model JamesAPokemonWAD.Models.UserPokemonDetails;

<img class="pokemonImg pokemonImg--@Model.Type_1 pokemonImg--offset--@(Model.Type_2 == null || Model.Type_2 == "" ? Model.Type_1 : Model.Type_2)" src="@(Model.Image.Contains("upload") ? "/images/pokemon/" : "")@Model.Image" alt="A picture of the Pokémon @Model.Name">
<p class="txt-pokename">@Model.Name</p>
<p>Caught on: @Model.CatchDate.ToString("dd/MM/yyyy")</p>
<p>Are you sure you want to release @Model.Name?</p>
<div class="split">
    <form method="post" asp-action="ReleasePokemon" asp-controller="Account">
        <input type="hidden" name="PokemonId" value="@Model.PokemonId" />
        <input type="hidden" name="queryString" value="@Model.queryString" />
        <h3><input type="submit" value="Release" class="btn btn-delete" /></h3>
    </form>
</div>
