@{
    ViewData["Title"] = "My Pokémon";
    List<string> typeList = (List<string>)ViewData["Types"];
}
<partial name="_Modal" />
<div class="container container--dexhead">
    <div class="wrapperDexHead">
        <h1 class="txt-title">@ViewData["Title"]</h1>
        <p class="txt-pokename">Total Pokémon: @ViewData["TotalPokemon"]</p>
        <form asp-action="Pokemon" method="get">
            <partial name="_SearchFilter" />
        </form>
    </div>
</div>
<div class="container container--dex">
    <div class="split split--mypoke">

        @foreach (var pokemon in Model)
        {
            <div class="wrapper-pokemon">
                <img class="pokemonImg pokemonImg--@pokemon.Type_1 pokemonImg--offset--@(pokemon.Type_2 == null || pokemon.Type_2 == "" ? pokemon.Type_1 : pokemon.Type_2) " src="@(pokemon.Image.Contains("upload") ? "/images/pokemon/" : "")@pokemon.Image" alt="A picture of the Pokémon @pokemon.Name">
                @if (pokemon.IsShiny)
                {
                    <p class="txt-pokename">Shiny @pokemon.Name</p>
                }
                else
                {
                    <p class="txt-pokename">@pokemon.Name</p>

                }
                <p class="txt-pokename">Caught on: @pokemon.CatchDate.ToString("dd/MM/yyyy")</p>
                <h3 class="txt-admin txt-admin--delete"><a href="javascript:;" class="releasePoke" data-id="@pokemon.PokemonId">Release</a></h3>
            </div>

        }
    </div>
</div>
<partial name="_SearchPagination" />